{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="posts-wrapper">
    <div class="sections">
      <div class="list">
        <a href="/" class="section" id="section-new">New questions</a>
        <a href="/?order_by=score" class="section" id="section-hot">Hot questions</a>
        <input type="text" placeholder="Tags..." id="select-by-tags">
      </div>
    </div>

    {% if page_obj %}
    {% for question in page_obj %}
    {% include 'snippets/question.html' with as='list' %}
    {% endfor %}
    {% include 'snippets/pagination.html' %}
    {% endif %}
  </div>
</div>
{% endblock content %}