{% extends 'base.html' %}
{% block content %}
<div class="content">
  <div class="posts-wrapper">
    <div class="sections">
      <a href="/">New questions</a>
      <a href="/hot">Hot questions</a>
    </div>
    {% include 'snippets/question.html' with as='detail' %}
  </div>
  <div class="posts-wrapper">
    {% for answer in question.answers.all %}
    {% include 'snippets/answer.html' with answer=answer %}
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
  <form method="post">
    {% include 'snippets/form.html' %}
    <input id="submit" type="submit" value="Answer">
  </form>
  {% else %}
  Login to answer a question
  {% endif %}
</div>
{% endblock content %}