{% extends 'base.html' %}
{% block content %}
<div class="content">
  <form method="post">
    {% include 'snippets/form.html' %}
    <button id="submit" type="submit">Ask</button>
  </form>
</div>
{% endblock content %}