{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
  <title>xask</title>
</head>

<body>
  {% csrf_token %}
  {% include 'snippets/header.html' %}

  <div class="container">
    {% include 'snippets/left_sidebar.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'snippets/right_sidebar.html' %}
  </div>

  {% include 'snippets/footer.html' %}

  <ul class="messages">
    {% if messages %}
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}
  </ul>

  <script type="text/javascript" src="{% static 'js/api.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/messages.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
</body>

</html>