{% extends 'base.html' %}
{% block content %}
<div class="content">
  <form method="post">
    {% include 'snippets/form.html' %}
    <input type="submit" value="Log in">
  </form>
</div>
{% endblock content %}