{% extends 'base.html' %}
{% block content %}
<div class="content">
  <form method="post" enctype="multipart/form-data">
    {% include 'snippets/form.html' %}
    <input type="submit" value="Apply">
  </form>
</div>
{% endblock content %}