{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
  <title>xask</title>
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="{% url 'home' %}">xask</a>
    </div>

    <div class="list">
      <input type="search" name="search" id="search" placeholder="Search..." autocomplete="off">
      <a href="{% url 'question:create' %}" class="ask">Ask</a>
    </div>

    <div class="user">
      {% if user.is_authenticated %}

      {% if  user.photo %}
      <img class="profile-photo" src="{{ user.photo.url }}" alt="profile photo">
      {% else %}
      <img class="profile-photo" alt="profile photo">
      {% endif %}

      <div class="info">
        <a class="user" href="{% url 'user:detail' user.slug %}">{{ user.username }}</a>
        <div class="list">
          <a href="{% url 'user:settings' user.slug %}">Settings</a>
          <a href="{% url 'logout' %}?next={{ request.path }}">Log out</a>
        </div>
      </div>
      {% else %}
      <div class="info">
        <div class="list">
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'register' %}">register</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>