<div class="pagination" id="pagination">
  <ul>
    {% if page_obj.has_previous %}
    <li><a href="?page=1">first</a></li>
    <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}

    <li class="current"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    <li><a href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
    {% endif %}
  </ul>
</div>