<div class="post-wrapper post-answer {% if question.accepted_answer_id == answer.pk %}accepted{% endif %}">
  {% include 'snippets/votecell.html' with post=answer %}
  <div class="post-details">
    <div class="body">{{ answer.body }}</div>
    {% include 'snippets/post_signature.html' with post=answer %}
  </div>
</div>