{% load static %}
<div class="post-signature">
  <div class="user-action-time">
    <time>posted {{ post.created_at|date:"SHORT_DATE_FORMAT" }}</time>
  </div>
  <div class="user-photo">
    {% if post.author.photo %}
    <img class="profile-photo" src="{{ post.author.photo.url }}" alt="profile photo">
    {% else %}
    <img class="profile-photo" alt="profile photo">
    {% endif %}
  </div>
  <div class="user-details">
    <a class="user" href="{% url 'user:detail' post.author.username %}"> {{ post.author.username }} </a>
    <div class="user-score">
      {{ post.author.score }}
    </div>
  </div>
</div>