<div class="post-wrapper">
  {% if as == 'detail' %}
  {% include 'snippets/votecell.html' with post=question %}
  {% elif as == 'list' %}
  {% include 'snippets/stats.html' %}
  {% endif %}
  <div class="post-details">
    <div class="title">
      {% if as == 'detail' %}
      <span>{{ question.title }}</span>
      {% elif as == 'list' %}
      <a class="question" href="{% url 'question:detail' question.slug %}">{{ question.title }}</a>
      {% endif %}
    </div>
    <p class="body">{{ question.body }}</p>
    <div class="tags">
      {% for tag in question.tags.all %}
      <div class="tag">{{ tag }}</div>
      {% endfor %}
    </div>
    {% include 'snippets/post_signature.html' with post=question %}
  </div>
</div>