<div class="stats">
  <div class="score">
    <strong>{{ question.score }}</strong>
    <span>score</span>
  </div>
  <div class="status {% if question.is_answered %}answered{% endif %}">
    <strong>{{ question.answers.count }}</strong>
    <span>answers</span>
  </div>
</div>