<div class="votecell">
  <span class="upvote" onclick="vote(pk={{ post.pk }}, status='upvote')">up</span>
  <strong>{{ post.score }}</strong>
  <span class="downvote" onclick="vote(pk={{ post.pk }}, status='downvote')">down</span>
  {% comment %} TODO: refactor {% endcomment %}
  {% if question.author == user and question != post %}
  <button type="button" onclick="accept(question_id={{ question.pk }}, answer_id={{ post.pk }});">accept</button>
  {% endif %}
</div>